<h2> Add a Form of Payment</h2>

<%= simple_form_for :payment, :url => payments_store_credit_card_path do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
    <%= f.input :credit_card_number, :required => true, :autofocus => true %>
    <%= f.input :name_on_card, :required => true %>
    <%= f.input :expiration_month, as: :integer, :required => true %>
    <%= f.input :expiration_year, as: :integer, :required => true %>
    <%= f.input :card_security_code, as: :integer, :required => true %>
    <%= f.input :card_billing_zip, :required => true %>
    </div>

    <div class="form-actions">
    <%= f.button :submit, "Add Card" %>
    </div>
    <% end %>
